<%= form_for(@sugestions, url: form_url) do |f| %>
    <%= render 'shared/errors', resource: @sugestions %>

      <% if feature?(:map) %>
        <div class="small-12 column">
  
          <%= render 'map_locations/form_fields',
                     form:     f,
                     map_location: MapLocation.new,
                     label:    t("sugestion_assets.form.map_location"),
                     help:     t("sugestion_assets.form.map_location_instructions"),
                     remove_marker_label: t("sugestion_assets.form.map_remove_marker"),
                     parent_class: "sugestion_asset",
                     i18n_namespace: "sugestion_asset" %>
  
        </div>
      <% end %>

      <% if current_user.unverified? %>
        <div class="small-12 column">
          <%= f.label :responsible_name, t("proposals.form.proposal_responsible_name") %>
          <p class="help-text" id="responsible-name-help-text"><%= t("proposals.form.proposal_responsible_name_note") %></p>
          <%= f.text_field :responsible_name, placeholder: t("proposals.form.proposal_responsible_name"), label: false,
                                              aria: {describedby: "responsible-name-help-text"} %>
        </div>
      <% end %>
  
      <div class="actions small-12 column">
        <%= f.submit(class: "button", value: "Concluir") %>
      </div>
    </div>
  <% end %>
  