<% provide :title do %><%= t("sugestion_assets.index.title") %><% end %>

  <% content_for :canonical do %>
    <%= render "shared/canonical", href: sugestion_assets_url %>
  <% end %>
  
  <%= render "shared/section_header", i18n_namespace: "sugestion_assets.index.section_header", image: "polls" %>
  
<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<h3 style="padding:1rem;"> Sugestões para preservar a memória da cidade. </h3>

<main>
  <div class="small-12 medium-3 column">
  <aside class="margin-bottom">
  <%= link_to t("sugestion_assets.index.nova_sugestao"),
            new_sugestion_asset_path,
            class: 'button expanded' %>
  </aside>
  </div>


  <%= render_map(@map_location, "Sugira um bem", true, nil, nil, @sugestion_map_coordinates) %>
  <div class="row" style="padding:7px;">
      <%= form_tag(sugestion_assets_path,:method => :get) do %>
        <%= text_field_tag 'search', nil, placeholder: 'Pesquise um local...', class: 'text' %>
        <%= submit_tag(" Pesquisar ", :class => "actions small-12 column button")%>
      <% end %>
      <%= render partial: 'all_sugestion', locals: {all_sugestion: @sugestion_assets} %>
  </div>
</main>
