
<% provide :title do %><%= @sugestion_asset.title %><% end %>
  
  <div class="polls-show">
  
  <li class="view-card">
    <%= back_link_to sugestion_assets_path %>
  </li>

    <div class="row margin">
      <div class="small-12 medium-9 column">
        <%= @sugestion_asset.title %>
        <%= @user.username %>
      </div>
    </div>
  
    <div class="expanded poll-more-info">
      <div class="row margin">
        <div class="small-12 medium-9 column">
          <h3><%= t("sugestion_assets.show.more_info_title") %></h3>
          <%= safe_html_with_links simple_format(@sugestion_asset.description) %>
          <div style="background-color: #b6ddef; padding:10px;margin:5px;border-radius: 35px;">
            <strong><%= @sugestion_asset.display_name %></strong>
          </div>
          <%= @sugestion_asset.latitude %>
          <%= @sugestion_asset.longitude %>
        </div>
      </div>
    </div>

    <aside class="small-12 medium-3 column">
    <% if author_of_sugestion_asset?(@sugestion_asset) || current_editable?(@sugestion_asset) || can_destroy_image?(@sugestion_asset) %>
      <div class="sidebar-divider"></div>
      <h2><%= t("sugestion_assets.show.author") %></h2>
      <div class="show-actions-menu">

        <% if current_editable?(@sugestion_asset) %>
          <%= link_to edit_sugestion_asset_path(@sugestion_asset), class: 'button hollow expanded' do %>
                      <span class="icon-edit"></span>
                      <%= t("sugestion_assets.show.edit_sugestion_asset_link") %>
          <% end %>
        <% end %>

        <% if can_destroy_image?(@sugestion_asset) %>
          <%= link_to image_path(@sugestion_asset.image, from: request.url),
                      method: :delete,
                      class: 'button hollow alert expanded',
                      data: { confirm: t('images.actions.destroy.confirm') } do %>
                      <span class="icon-image"></span>
                      <%= t("images.remove_image") %>
          <% end %>
        <% end %>

      </div>
    <% end %>
    </aside>                 
   </div>
  
   <div class="tabs-content" data-tabs-content="polls_tabs">
    <%= render "filter_subnav" %>

    <div class="tabs-panel is-active" id="tab-comments">
      <%= render "comments" %>
    </div>
    
</div>
  