
<% provide :title do %><%= @sugestion_asset.title %><% end %>
  <% provide :social_media_meta_tags do %>
    <%= render "shared/social_media_meta_tags",
                social_url: sugestion_asset_url(@sugestion_asset),
                social_title: @sugestion_asset.title,
                social_description: @sugestion_asset.description,
                twitter_image_url: (@sugestion_asset.image.present? ? @sugestion_asset.image_url(:thumb) : nil),
                og_image_url: (@sugestion_asset.image.present? ? @sugestion_asset.image_url(:thumb) : nil) %>
  <% end %>

  <div class="polls-show">
  
  <li class="view-card">
    <%= back_link_to sugestion_assets_path %>
  </li>

  <h2 class="inline-block" style="padding:5px;">
  <%= avatar_image(@user, seed: @user.id, size: 60) %>
  <%= @user.name %>
  <% if current_administrator? %>
    <small><%= @user.email %></small>
  <% end %>
  </h2>
  
    <div class="expanded poll-more-info">
      <div class="row margin">
        <div class="small-12 medium-8 column">
          <h3><%= t("sugestion_assets.show.mais_informações") %></h3>
          <h2><%= @sugestion_asset.title %></h2>
          
          <div class="image-container" data-equalizer-watch>
          <% if @sugestion_asset.image.present? %>
            <%= image_tag  @sugestion_asset.image_url(:large), alt: @sugestion_asset.image.title.unicode_normalize %>
          <% end %>
          </div>
          
          <%= safe_html_with_links simple_format(@sugestion_asset.description) %>
          <div style="background-color: #b6ddef; padding:15px;margin:5px;border-radius: 20px;">
            <h4><%= @sugestion_asset.display_name %></h4>
          </div>
          </div>
          <aside class="small-12 medium-3 column">
          <%= render partial: 'shared/social_share', locals: {
            share_title: t("shared.share"),
            title: @sugestion_asset.title,
            url: sugestion_asset_url(@sugestion_asset),
            description: @sugestion_asset.title
          } %>
          <% if author_of_sugestion_asset?(@sugestion_asset) || current_editable?(@sugestion_asset) || can_destroy_image?(@sugestion_asset) %>
          <div class="sidebar-divider">
            <h2><%= t("sugestion_assets.show.autor") %></h2>
            </div>
            <div class="show-actions-menu">
      
              <% if current_editable?(@sugestion_asset) %>
                <%= link_to edit_sugestion_asset_path(@sugestion_asset), class: 'button hollow expanded' do %>
                            <span class="icon-edit"></span>
                            <%= t("sugestion_assets.show.edit_sugestion_asset_link") %>
                <% end %>
              <% end %>
      
              <% if can_destroy_image?(@sugestion_asset) %>
                <%= link_to image_path(@sugestion_asset.image, from: request.url),
                            method: :delete,
                            class: 'button hollow alert expanded',
                            data: { confirm: t('images.actions.destroy.confirm') } do %>
                            <span class="icon-image"></span>
                            <%= t("images.remove_image") %>
                <% end %>
              <% end %>
      
            </div>
          <% end %>
          </aside>      
      </div>
    </div>

   </div>
  
   <div class="tabs-content" data-tabs-content="polls_tabs">
    <%= render "filter_subnav" %>

    <div class="tabs-panel is-active" id="tab-comments">
      <%= render "comments" %>
    </div>
    
</div>
  